/*CUSTOM CSS BY ZEA (http://tonjoostudio.com)*/

.us-option-wrapper {
  text-align: left;
}

#us-theme-options-wrap {
  margin-top: 30px;
  border-radius: 5px;
  width: 80%;
  height: auto;
  background-color: #FFFFFF;
  padding: 10px 10px 10px 20px !important;
  box-shadow: 3px 3px 3px #999999;
}

#us-theme-options-wrap h1 {
  font-size: 1.3em;
}

.us-widefat {
  border-spacing: 0px;
  width: 100%;
  clear: both;
  margin: 0px;
}

.us-postbox-container {
  margin-top: 30px;
  /*margin-bottom: 30px;*/
  margin-left: 100px;
  margin-right: 100px;
  /*box-shadow: 3px 3px 3px #999999;
  border-radius: 5px;*/
}
